ul{
    list-style-type:none;
    background-color:aqua;
    position:fixed;
}
li{
    float:left;

}
li a{
    display:block;
    padding:8px 19px;
}
li a:hover{
       background-color: azure;
}
@keyframes images{
    
        20%{
            margin-left: 0px;
        }
        40%
        {
            margin-left: calc(-728px*1);
        }
        60%{
            margin-left: calc(-728px*2);
        }
        80%{
            margin-left: (-728px*3);
        }
        100%{
            margin-left: (-728px*4);
        }
}
img{
    width: 1500px;
    height:750px;

}
